body {  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{

  --primary_bg:rgb(247, 242, 104);
  --bg_white:rgba(255, 255, 255, 0.91);
}

.bg_primary{

  background-color: var(--primary_bg);
}
.bg_white{

  background-color: var( --bg_white);
}